# General
.DS_Store
.idea/

# Flutter/Dart/Pub
packages/
.pub/
.pub-cache/
pubspec.lock
.dart_tool/

# Android
**/android/**/build/
**/android/.gradle/**/android/local.properties

# iOS
**/ios/**/GeneratedPluginRegistrant.h
**/ios/**/GeneratedPluginRegistrant.m
**/ios/**/*.mode1v3**/ios/**/*.mode2v3
**/ios/**/*.moved-aside**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3**/ios/**/*.xccheckout
**/ios/**/*.xcuserstate**/ios/**/xcuserdata/**/ios/**/Pods/**/ios/.generated/
**/ios/.symlinks/**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework**/ios/Flutter/flutter_assets/**/ios/Flutter/flutter_export_environment.sh**/ios/Flutter/flutter_podhelper.rb
**/ios/ServiceDefinitions.json**/ios/Runner/Base.lproj/LaunchScreen.storyboardc/
**/ios/Runner/Base.lproj/Main.storyboardc/**/ios/Runner/**/GeneratedPluginRegistrant.h**/ios/Runner/**/GeneratedPluginRegistrant.m

# macOS**/macos/**/Flutter/ephemeral/**/macos/**/Flutter/flutter_assets/**/macos/.android/
**/macos/Podfile.lock**/macos/Pods/
.cidata

# Web
**/web/**/build/
**/web/**/.last_build_id
**/web/**/.dart_tool/

# Windows
**/windows/**/build/
**/windows/**/GeneratedFiles/
**/windows/**/GeneratedSources/
**/windows/.regcache/

# Others*.lock
*.iml*.log
*.swp